<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Modelos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">

    <header>
        <div th:replace="fragments/header :: header" class="mt-auto"/>
    </header>

    <div class="container">
        <div class="center" align="center">
            <h1 class="display-4">Lista de Modelos</h1>
        </div>

        <div>
            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-dark">
                    <tr align="center">
                        <th>Id</th>
                        <th>Placa</th>
                        <th>Chassi</th>
                        <th>R$/Diária</th>
                        <th>Modelo</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="carro : ${carros}">
                        <td align="center" th:text="${carro.id}"></td>
                        <td th:text="${carro.placa}" align="center"></td>
                        <td th:text="${carro.chassi}" align="center"></td>
                        <td th:text="${#numbers.formatDecimal(carro.valorDaDiaria,0,'POINT',2,'COMMA')}" align="center"></td>
                        <td th:text="${carro.modelo.descricao}" align="center"></td>
                        <td align="center">
                            <a class="btn btn-primary btn-sm" th:href="@{carros/editar/{id}(id=${carro.id})}">Editar</a>
                            <a class="btn btn-danger btn-sm"  th:href="@{carros/excluir/{id}(id=${carro.id})}">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer mt-auto py-3" align="center">
        <div class="container" th:replace="fragments/footer :: footer" />
    </div>
</body>

</html>