<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<meta charset="UTF-8">
<title>Cadastro de Fabricantes</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">

	<header>
		<div th:replace="fragments/header :: header" class="mt-auto"/>
	</header>

	<main>
		<div class="container">
			<h1 class="display-4" align="center">Cadastro de Fabricantes</h1>
			<div>
				<form action="/fabricantes" method="POST" th:object="${fabricante}">
					<div th:replace="fragments/alert-error :: div" />
					<div th:replace="fragments/alert-sucsses :: div" />
					<input type="hidden" th:field="*{id}" />
					<div class="form-group">
						<label for="nome">Nome:</label> 
						<input id="nome" type="text" th:field="*{nome}" class="form-control form-control-sm" />
						<label for="nome">Descrição:</label> 
						<input id="nome" type="text" th:field="*{descricao}" class="form-control form-control-sm" />
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
	</main>
	<div class="footer mt-auto py-3" align="center">
		<div class="container" th:replace="fragments/footer :: footer" />
	</div>
</body>
</html>