<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutBase}">

<head>
	<title>Home</title>
</head>

<body>
	<section layout:fragment="conteudo" class="text-center">
		<div class="cover-container mt-4 mx-auto col-md-5">
			<main role="main" class="inner cover">
				<h1 class="cover-heading">CarRental</h1>
				<p class="lead">CarRental é um projeto desenvolvido para a Pós-Graduação da faculdade DELTA,
					que tem por objetivo fixar o conhecimento aprendido no módulo de SpringMVC</p>
			</main>
		</div>
	</section>
</body>

</html>