<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>
</head>

<body class="d-flex flex-column h-100 w-100 text-center">

	<header>
		<div th:replace="fragments/header :: header" class="mt-auto"/>
	</header>

	<div class="cover-container mt-auto mx-auto col-md-5">
		<main role="main" class="inner cover">
			<h1 class="cover-heading">CarRental</h1>
			<p class="lead">CarRental é um projeto desenvolvido para a Pós-Graduação da faculdade DHELTA, 
				que tem por objetivo fixar o conhecimento aprendido no módulo de SpringMVC</p>
		</main>
	</div>
	<div class="footer mt-auto py-3" align="center">
		<div class="container" th:replace="fragments/footer :: footer" />
	</div>
	</div>
</body>

</html>