<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutBase}">

<head>
    <title>Cadastro de Locações</title>
</head>

<body class="d-flex flex-column h-100">

    <section layout:fragment="conteudo">
        <h1 class="display-4" align="center">Cadastro de Locações</h1>

        <div>
            <form action="/locacoes" method="POST" th:object="${locacao}">

                <div th:replace="alert-error :: div" />

                <div th:replace="alert-sucsses :: div" />

                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="valorTotal">Valor Total:</label>
                    <input id="valorTotal" type="text" min="0.0" max="100000.0" step="0.01" th:field="*{valorTotal}"
                        class="form-control form-control-sm" />

                    <label for="dataDeLocacao">Data de Locação:</label>
                    <input id="dataDeLocacao" type="date" th:field="*{dataDeLocacao}"
                        class="form-control form-control-sm col-md-2" />

                    <label for="dataDeDevolucao">Data de Devolução:</label>
                    <input id="dataDeDevolucao" type="date" th:field="*{dataDeDevolucao}"
                        class="form-control form-control-sm col-md-2" />

                    <label for="carro">Carro:</label>
                    <div>
                        <select name="carro" id="carro" th:field="*{carro}"
                            class="form-control form-control-sm col-md-2">
                            <option th:each="carro : ${listarTodosCarros}" th:text="${carro.modelo.descricao}"
                                th:value="${carro.id}"></option>
                        </select>
                    </div>
                    <label for="motorista">Motorista:</label>
                    <select name="motorista" id="motorista" th:field="*{motorista}"
                        class="form-control form-control-sm col-md-3">
                        <option th:each="motorista : ${listarTodosMotoristas}" th:text="${motorista.nome}"
                            th:value="${motorista.id}"></option>
                    </select>
                </div>


                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </section>
</body>

</html>