<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutBase}">

<head>
	<title>Cadastro de Modelos</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="container">
			<div class="center" align="center">
				<h1 class="display-4">Lista de Modelos</h1>
			</div>
	
			<div>
				<table class="table table-hover table-bordered table-sm">
					<thead class="thead-dark">
						<tr align="center">
							<th scope="col">Id</th>
							<th scope="col">Descrição</th>
							<th scope="col">Categoria</th>
							<th scope="col">Fabricante</th>
							<th scope="col">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="modelo : ${modelos}">
							<td align="center" th:text="${modelo.id}"></td>
							<td th:text="${modelo.descricao}"></td>
							<td align="center" th:text="${modelo.categoria.descricao}"></td>
							<td align="center" th:text="${modelo.fabricante.nome}"></td>
							<td align="center"><a class="btn btn-primary btn-sm"
									th:href="@{modelos/editar/{id}(id=${modelo.id})}">Editar</a>
								<a class="btn btn-danger btn-sm"
									th:href="@{modelos/excluir/{id}(id=${modelo.id})}"
									onclick="return confirm('Confirma a exclusão ?')">Excluir</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(modelos)}">
						    <td colspan="8" align="center">Nenhum modelo cadastrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>