<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutBase}">

<head>
	<title>Cadastro de Modelos</title>
</head>

<body>

	<section layout:fragment="conteudo">
		<div class="container">
			<h1>Cadastro de Modelos</h1>
	
			<div>
				<form action="/modelos" method="POST" th:object="${modelo}">
	
					<div th:replace="alert-error :: div" />
	
					<div th:replace="alert-sucsses :: div" />
	
					<input type="hidden" th:field="*{id}" />
					<div class="form-group">
						<label for="descricao">Descrição:</label>
						<input id="descricao" type="text" th:field="*{descricao}" class="form-control form-control-sm" />
	
						<label for="categoria">Categoria:</label>
						<select name="categoria" id="categoria" th:field="*{categoria}"
							class="form-control form-control-sm col-md-2">
							<option th:each="categoria : ${listarTodasCategorias}" th:text="${categoria.descricao}"
								th:value="${categoria}">
							</option>
						</select>

						<label for="fabricante">Fabricante:</label>
						<select name="fabricante" id="fabricante" th:field="*{fabricante}"
							class="form-control form-control-sm col-md-2">
							<option th:each="fabricante : ${listarTodosFabricantes}" th:text="${fabricante.nome}"
								th:value="${fabricante.id}"></option>
						</select>
					</div>
	
	
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
	</section>
</body>

</html>