<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Motorista</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column h-100">

	<header>
		<div th:replace="fragments/header :: header" />
	</header>

	<main>
		<div class="container">
			<div class="center" align="center">
				<h1 class="display-4">Lista de Motorista</h1>
			</div>

			<div>
				<table class="table table-hover table-bordered table-sm">
					<thead class="thead-dark">
						<tr align="center">
							<th scope="col">Id</th>
							<th scope="col">Nome</th>
							<th scope="col">Sexo</th>
							<th scope="col">CPF</th>
							<th scope="col">CNH</th>
							<th scope="col">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="motorista : ${motoristas}">
							<td align="center" th:text="${motorista.id}"></td>
							<td th:text="${motorista.nome}"></td>
							<td align="center" th:text="${motorista.sexo.descricao}"></td>
							<td align="center" th:text="${motorista.cpf}"></td>
							<td align="center" th:text="${motorista.cnh}"></td>
							<td align="center">
								<a class="btn btn-primary btn-sm"
									th:href="@{motoristas/editar/{id}(id=${motorista.id})}">Editar</a>
								<a class="btn btn-danger btn-sm"
									th:href="@{motoristas/excluir/{id}(id=${motorista.id})}"
									onclick="return confirm('Confirma a exclusão ?')">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<div class="footer mt-auto py-3" align="center">
		<div class="container" th:replace="fragments/footer :: footer" />
	</div>
</body>

</html>